<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% block main %}
<div id="wrapper">
    {% include "nav-bar.html" %}
    <div class="container" style="margin-top: 20px">
        <div class="row">
          <div class="col">

      
            <h1>Check if university complete form:</h1>
            <form action="/check-complete" method="POST" enctype="multipart/form-data">
              {% for dirname in dirnames %}
              <input type="radio" name="university" value="{{dirname}}">{{dirname}}<br>
              {% endfor %}
      
              <button type="submit" class="btn btn-primary">Check</button>
      
            </form>
      
          </div>
      </div>
    </div>
</div>



{% endblock %}