<head>
    <script src="static/js/jquery-1.11.1.min.js"></script>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> -->
    <link href="static/css/style.css" rel="stylesheet" id="bootstrap-css">
    <script src="static/js/crop_javascript.js"></script>
    <script src="static/js/javascript.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h3 class="page-header">Your Financial Form:</h3>
        <div class="img-container">
          <img src="{{path}}" alt="Picture">
        </div>
      </div>
      <div class="col-md-3">
        <h3 class="page-header">Your Selected Area:</h3>
        <div class="docs-preview clearfix">
          <div class="img-preview preview-lg"></div>
          <div class="img-preview preview-md"></div>
          <div class="img-preview preview-sm"></div>
          <div class="img-preview preview-xs"></div>
        </div>

        <h3 class="page-header">Data:</h3>
        <div class="docs-data">
          <div class="input-group">
            <label class="input-group-addon" for="dataX">X</label>
            <input class="form-control" id="dataX" type="text" placeholder="x">
            <span class="input-group-addon">px</span>
          </div>
          <div class="input-group">
            <label class="input-group-addon" for="dataY">Y</label>
            <input class="form-control" id="dataY" type="text" placeholder="y">
            <span class="input-group-addon">px</span>
          </div>
          <div class="input-group">
            <label class="input-group-addon" for="dataWidth">Width</label>
            <input class="form-control" id="dataWidth" type="text" placeholder="width">
            <span class="input-group-addon">px</span>
          </div>
          <div class="input-group">
            <label class="input-group-addon" for="dataHeight">Height</label>
            <input class="form-control" id="dataHeight" type="text" placeholder="height">
            <span class="input-group-addon">px</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
      <form name="add_name" id="add_name">
         <div class="table-responsive">
            <table class="table table-bordered" id="dynamic_field">
               <input value="{{results|length}}" id="total_form" hidden>
               {% for result in results %}
               <tr id="row-{{loop.index}}">
                  <td>Form name: <input name="form-name-{{loop.index}}" type="text" value="{{result.text}}"></td>
                  <td>Input type:<br>
                    <input type="radio" name="input-type-{{loop.index}}" class="radInp" value="text" data-id="{{loop.index}}" checked> Text<br>
                    <input type="radio" name="input-type-{{loop.index}}" class="radInp" value="radio" data-id="{{loop.index}}"> Radio<br>
                    <input type="radio" name="input-type-{{loop.index}}" class="radInp" value="checkbox" data-id="{{loop.index}}"> Checkbox<br>
                    <input type="radio" name="input-type-{{loop.index}}" class="radInp" value="multiline_text" data-id="{{loop.index}}"> Multiline Text<br>
                  </td>
                  <td>
                    <div id='display-data-{{loop.index}}'>
                        <button class="btn btn-primary" data-method="getData" data-option="" data-target="#putData-{{loop.index}}" type="button">
                        <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper("getData")">Get Data</span>
                        </button>
                        <button class="btn btn-primary" data-method="setData" data-target="#putData-{{loop.index}}" type="button">
                        <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper("setData", data)">Set Data</span>
                        </button>
                        <input name="form-possition-{{loop.index}}" class="form-control" id="putData-{{loop.index}}" type="text" value="{{result.position | tojson_pretty}}">
                    </div>
                  </td>
                  <td><button type="button" name="remove" id="remove-{{loop.index}}" data-id="{{loop.index}}" class="btn btn-danger btn_remove">X</button></td>
               </tr>
                {% endfor %}
            </table>
            <button type="button" name="add" id="add" class="btn btn-success">Add More Row</button>
            <input type="button" name="submit" id="submit" class="btn btn-info" value="Submit" />
         </div>
      </form>
   </div>
  <!-- <div id="dynamic-field">
      <button class="btn btn-primary" data-method="getData" data-option="" data-target="#putData" type="button">
        <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper('getData')">
        Get Data
        </span>
        </button>
        <input class="form-control" id="putData" type="text" placeholder="Get data to here or set data with this value">
  </div> -->
</body>