<head>
    <script src="static/js/jquery-1.11.1.min.js"></script>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> -->
    <link href="static/css/style.css" rel="stylesheet" id="bootstrap-css">
    <script src="static/js/crop_javascript.js"></script>
    <script src="static/js/javascript.js"></script>
</head>
    
<body>
    <div class="form-group">
        <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr role="row">
                    <th style="width: 30px">#</th>
                    <th>University</th>
                </tr>
            </thead>
            <tbody>
                {% for university in universities %}
                    <tr>
                        <td>
                            {{loop.index }} 
                        </td>
                        <td>
                            <a href="/writeReport/{{university}}">{{university}}</a> 
                        </td>
                    </tr>
                {% endfor %}
        </table>
        </div>
    </div>
</body>