<head>

</head>
    
<body>
    <div id="wrapper">
    {% include "nav-bar.html" %}
    <div class="form-group" style="width: 100%">
        <div class="table-responsive" >
        <table class="table table-bordered">
            <thead>
                <tr role="row">
                    <th style="width: 30px">#</th>
                    <th>University</th>
                </tr>
            </thead>
            <tbody>
                {% for university in universities %}
                    <tr>
                        <td>
                            {{loop.index }} 
                        </td>
                        <td>
                            <a href="/writeReport/{{university}}">{{university}}</a> 
                        </td>
                    </tr>
                {% endfor %}
        </table>
        </div>
    </div>
    </div>
</body>